* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.innerWrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.left {
    text-align: left!important;
}

.right {
    text-align: right!important;
}

.clearFix {
    float: none;
    clear: both;
}

.top {
    background-color: #9bddd8;
    background-image: url("../images/top_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding-top: 238px;
}

.top, .cityOfLove {
    height: 740px;
}

.top h1 {
    color: #ffffff;
    font-size: 80px;text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}

.top h1 span {
    color: #01a2a6;
}

.top p {
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.top a {
    border-radius: 24px;
    color: #10273d;
    background-color: #ffffa6;
    padding: 14px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    font-family: 'Lato', sans-serif;
    width: 250px;
    margin: 30px auto;
    letter-spacing: 1px;
}

header {
    height: 120px;
    width: 100%;
    position: fixed;
    display: block;
    padding-top: 50px;
    editor/#000000+83,000000+100&0.65+0,0+98 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.1) 83%, rgba(0,0,0,0) 98%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.1) 83%,rgba(0,0,0,0) 98%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.1) 83%,rgba(0,0,0,0) 98%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

header .logo {
    width: 150px;
    /*padding-top: 35px;*/
}

header ul.navigation {
    list-style: none;
    float: right;
    padding-top: 15px;
}

header ul.navigation li {
    float: left;
    margin-left: 12px;
}

header ul.navigation li a {
    color: #ffffff;
    letter-spacing: 1px;
    padding: 5px 12px;
    border: 2px solid transparent;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
}

header ul.navigation li a:hover {
    border: 2px solid #ffffff;
    border-radius: 15px;
}

.cityOfLove .row .half {
    padding-top: 30px;
    text-align: center;
}

.half {
    width: 50%;
    float: left;
}

.cityOfLove .firstLine .innerWrapper {
    margin-top: -40px;
    opacity: 0.6;
    background-color: #fff;
    /*overflow: hidden;*/
}

.cityOfLove .row.firstLine {
    padding-bottom: 50px;
}

.cityOfLove .firstLine img {
    padding-top: 50px;
}

.cityOfLove .firstLine h2,
.secondLine h2,
.infoContainet .setIttinery h2{
    color: #29d9c2;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    margin: 60px 0 40px;
}

.cityOfLove .firstLine h2 span,
.secondLine h2 span,
.infoContainet .setIttinery h2 span {
    color: #01a1a6;
}

.cityOfLove .firstLine p,
.secondLine p,
.secondLine span.details,
.slider .sliderNavigation input,
.slider .batu .rightBatuInfo .batuInfo p,
.slider .bromo .lefrBromoInfo .bromoInfo p,
.infoContainet .setIttinery p {
    font-size: 16px;
    color: #777;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
}

.cityOfLove .row.secondLine {
    background-color: #f2fefe;
    padding-top: 40px;
    padding-bottom: 100px;
}

.secondLine .innerWrapper {
    position: relative;
    padding: 0 100px;
}

.secondLine span.details {
    display: block;
    position: absolute;
    right: 100px;
    top: 0px;
    cursor: help;
}

/*.secondLine span.details:before{*/
    /*content: 'i';*/
/*}*/

.slider {
    background-color: #f2fefe;
}

.slider .sliderNavigation {
    padding: 5px 100px;
}

.slider .sliderNavigation input {
    padding: 5px 5px 5px 20px;
    width: 235px;
    height: 35px;
    border-radius: 17px;
    border: 1px solid #e8e8e8;
    /*background-image: url("https://previewsworld.com/Content/images/icons/icon-search.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: left;*/
    /*background-position: 15px 9px;*/
    /*background-size: 16px;*/
}

.slider .sliderNavigation a {
    color: #777;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.slider .sliderNavigation a.active {
    font-weight: 700;
    color: #01a2a6;
    cursor: default;
}

.slider .sliderNavigation .separator {
    padding: 0 5px;
    font-weight: 900;
}

.slider .batu {
    background-image: url('../images/parachute.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-bottom: 35px;
    margin-top: 15px;
}

.slider .batu .rightBatuInfo {
    width: 40%;
    float: right;
    background-image: url("../images/batuShape.png");
    opacity: 0.9;
}

.slider .batu .rightBatuInfo .batuInfo {
    padding: 100px 55px;
    position: relative;
}

.slider .batu .rightBatuInfo .batuInfo h2,
.slider .bromo .lefrBromoInfo .bromoInfo h2 {
    color: #29d9c2;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 300;
    text-align: left;
}

.triangle {
    background-color: #F9F8F8;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 236px;
    left: -9px;
    transform: rotate(-50deg);
    opacity: 0.9;
}

.slider .bromoRow {
    width: 100%;
    margin-bottom: 75px;
    overflow: hidden;
}

.slider .bromoRow .bromo {
    width: 57%;
    background-image: url("../images/tree.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    float: left;
}

.slider .bromoRow .bromo .lefrBromoInfo {
    float: left;
    width: 50%;
    background-image: url("../images/batuShape.png");
    opacity: 0.9;
}

.slider .bromoRow .bromo .lefrBromoInfo .bromoInfo {
    padding: 57px 30px;
    position: relative;
}

.triangleBromo {
    background-color: #F9F8F8;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 170px;
    left: 330px;
    transform: rotate(-50deg);
    opacity: 0.9;
}

.slider .bromoRow .palm {
    width: 40%;
    /*background-image: url("../images/image3.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: bottom;*/
    float: left;
    margin-left: 36px;
    /*height: 361px;*/
}

.slider .bromoRow .palm .hover {
    display: none;
}

.slider .bromoRow .palm .hover:hover {
    display: block;
}

.infoContainet {
    background-color: #fff;
}

.infoContainet .setIttinery {
    text-align: center;
    padding-bottom: 145px;
}