//color
@tiffanyColor: #9bddd8;
@tiffanyDarkColor: #29d9c2;
@darkGrey: #777777;
@lightGrey: #f2fefe;
@grey: #e8e8e8;
@white: #ffffff;
@lcd: #01a2a6;
@darkBlue: #10273d;
@lightSun: #ffffa6;
@darkSun: #f5e99e;
@deepSun: #aea25c;

//fonts
@montserrat: 'Montserrat', sans-serif;
@lato: 'Lato', sans-serif;

//mixins
.border_radius(@radius: 5px) {
  border-radius: @radius;
}

.hoverButton {
  background-color: #a4ef3a;
  cursor: pointer;
}

.h2 {
  color: @tiffanyDarkColor;
  font-size: 60px;
  font-family: @montserrat;
  margin: 60px 0 40px;
}

.sliderH2 {
  color: @tiffanyDarkColor;
  margin: 20px 0;
  font-family: @montserrat;
  font-size: 26px;
  font-weight: 300;
  text-align: left;
}

.p {
  font-size: 16px;
  color: @darkGrey;
  line-height: 24px;
  font-family: @lato;
}

.sliderSeeMore {
  right: 30px;
  bottom: 20px;
  transition: all ease-out 0.4s;
  font-family: @lato;
  font-weight: 700;
  letter-spacing: 1px;
  color: @white;
  padding-right: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, select, textarea, button {
  &:focus {
    outline: none;
  }
}

.innerWrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.clearFix {
  float: none;
  clear: both;
}

.top {
  background-color: @tiffanyColor;
  background-image: url("../images/top_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding-top: 238px;

  h1 {
    color: @white;
    font-size: 80px;
    text-transform: uppercase;
    font-family: @montserrat;
    margin-bottom: 15px;

    span {
      color: @lcd;
    }
  }

  p {
    color: @white;
    font-size: 18px;
    font-family: @lato;
  }

  a {
    .border_radius(24px);
    color: @darkBlue;
    background-color: @lightSun;
    padding: 14px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    font-family: @lato;
    width: 250px;
    margin: 30px auto;
    letter-spacing: 1px;
  }
}

.top, .cityOfLove {
  height: 740px;
}

header {
  height: 120px;
  width: 100%;
  position: fixed;
  display: block;
  padding-top: 50px;
  z-index: 10;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */

  .logo {
    width: 150px;
    /*padding-top: 35px;*/
  }

  ul {
    &.navigation {
      list-style: none;
      float: right;
      padding-top: 15px;

      li {
        float: left;
        margin-left: 12px;

        a {
          color: @white;
          letter-spacing: 1px;
          padding: 5px 12px;
          border: 2px solid transparent;
          text-transform: capitalize;
          font-family: @lato;

          &:hover {
            border: 2px solid @white;
            .border_radius(15px);
          }
        }
      }
    }
  }
}

.cityOfLove {
  .row {
    &.firstLine {
      padding-bottom: 50px;
      img {
        padding-top: 50px;
      }
    }
    &.secondLine {
      background-color: @lightGrey;
      padding-top: 40px;
      padding-bottom: 100px;
    }
    .half {
      padding-top: 30px;
      text-align: center;
    }
  }

  .firstLine {
    .innerWrapper {
      margin-top: -40px;
      opacity: 0.6;
      background-color: @white;
    }

    h2 {
      .h2;
      span {
        color: @lcd;
      }
    }

    p {
      .p;
    }
  }

  .secondLine {
    h2 {
      .h2;
      span {
        color: @lcd;
      }
    }
    p {
      .p;
    }
    span {
      &.details {
        .p;
      }
    }
  }
}

.secondLine {
  .innerWrapper {
    position: relative;
    padding: 0 100px;
  }
  span {
    &.details {
      display: block;
      position: absolute;
      right: 100px;
      top: 0;
      cursor: help;
    }
  }

}

.slider {
  background-color: @lightGrey;
  .sliderNavigation {
    padding: 5px 100px;
    input {
      .p;
      padding: 5px 5px 5px 40px;
      width: 235px;
      height: 35px;
      border-radius: 17px;
      border: 1px solid @grey;
      background-image: url("https://previewsworld.com/Content/images/icons/icon-search.png");
      background-repeat: no-repeat;
      background-position: 15px 9px;
    }
    a {
      color: @darkGrey;
      text-transform: uppercase;
      font-family: @lato;
      &.active {
        font-weight: 700;
        color: @lcd;
        cursor: default;
      }
    }
    .separator {
      padding: 0 5px;
      font-weight: 900;
    }
  }
  .batu {
    background-image: url('../images/parachute.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-bottom: 35px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    height: 517px;

    &:hover {
      .rightBatuInfo {
        left: 60%;
      }
      .seeMore {
        right: calc(40% + 30px);
      }
      .triangle {
        left: calc(60% - 12px);
      }
    }

    .rightBatuInfo {
      width: 40%;
      padding: 100px 55px;
      position: absolute;
      background-color: rgba(229, 231, 232, 0.9);
      left: 100%;
      top: 0;
      bottom: 0;
      transition: all ease-out 0.4s;
      h2 {
        .sliderH2;
      }
      p {
        .p;
      }
    }

    .seeMore {
      .sliderSeeMore;
    }
  }

  .bromoRow {
    width: 100%;
    margin-bottom: 75px;
    overflow: hidden;
    .bromo, .palm {
      .seeMore {
        .sliderSeeMore;
      }
    }
    .bromo {
      width: 57%;
      background-image: url("../images/tree.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      float: left;
      overflow: hidden;
      height: 361px;
      position: relative;
      &:hover {
        .lefrBromoInfo {
          right: 50%;
        }
        .triangleBromo {
          right: calc(50% - 12px);
        }
      }
      .lefrBromoInfo {
        float: left;
        width: 50%;
        padding: 57px 30px;
        position: absolute;
        background-color: rgba(229, 231, 232, 0.9);
        right: 100%;
        top: 0;
        bottom: 0;
        transition: all ease-out 0.4s;
      }
    }
    .palm {
      width: 40%;
      background-image: url("../images/image3.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      float: left;
      margin-left: 3%;
      height: 361px;
      position: relative;
      overflow: hidden;
      &:hover {
        .shadow {
          background-color: rgba(43, 43, 43, 0.6);
          width: 100%;
          height: 100%;
          transition: all ease-in 0.6s;
          .hoverPalm {
            opacity: 1;
            transition: all ease-in-out 0.5s;
          }
        }
      }
      .shadow {
        .hoverPalm {
          position: absolute;
          width: 120px;
          height: 120px;
          background-color: @white;
          border-radius: 50%;
          top: calc(50% - 60px);
          left: calc(50% - 60px);
          opacity: 0;
          img {
            opacity: 1;
            display: block;
            width: 70%;
            margin: 10px auto;
          }
        }
      }
    }
  }

  .bromo {
    .lefrBromoInfo {
      h2 {
        .sliderH2;
      }
      p {
        .p;
      }
    }
  }
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 12px 8px 0;
  border-color: transparent rgba(229, 231, 232, 0.9) transparent transparent;
  position: absolute;
  left: 100%;
  top: calc(50% - 8px);
  transition: all ease-out 0.4s;
}

.triangleBromo {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent rgba(229, 231, 232, 0.9);
  position: absolute;
  right: 100%;
  top: calc(50% - 8px);
  transition: all ease-out 0.4s;
}

.seeMore {
  display: block;
  position: absolute;
}

.infoContainer {
  background-color: @white;
  .innerWrapper {
    padding: 60px 0 80px;
  }
  .setIttinery {
    text-align: center;
    padding-bottom: 70px;
    h2 {
      .h2;
      span {
        color: @lcd;
      }
    }
    p {
      .p;
    }
  }
  .colored {
    .formHeader {
      height: 70px;
      background-image: url('../images/formImg.png');
      h4 {
        text-align: center;
        color: @white;
        font-size: 16px;
        letter-spacing: 1px;
        font-family: @montserrat;
        padding: 25px;
      }
    }
    .formBody {
      background-color: @lightSun;
      padding: 15px 25px;
      .day {
        margin-bottom: 20px;
        #day {
          font-family: 'Montserrat', sans-serif;
          color: @tiffanyDarkColor;
        }
        input[type=date] {
          background-color: @lightSun;
          border: none;
          float: right;
          font-family: @montserrat;
          color: @tiffanyDarkColor;
          font-size: 16px;
          letter-spacing: 1px;
          width: 160px;
          padding-bottom: 15px;
        }
        .line {
          text-align: right;
          input[type="text"] {
            width: 100%;
            padding: 15px 62px;
            border: 1px solid @grey;
            text-align: left;
            border-radius: 5px;
            font-size: 18px;
            color: @darkGrey;
          }
          .mtBromo {
            background-image: url("../images/logoBromo.png");
            background-repeat: no-repeat;
            background-position: 11px 12px;
            background-size: 39px;
            font-family: @montserrat;
          }
          .batuCity {
            background-image: url("../images/logoBatu.png");
            background-repeat: no-repeat;
            background-position: 11px 8px;
            background-size: 30px;
            font-family: @montserrat;
          }
          ul {
            background-color: @darkSun;
            text-align: left;
            list-style-type: none;
            margin: 0 5px;
            li {
              padding: 15px;
              color: @deepSun;
              border-radius: 5px;
              font-size: 16px;
              letter-spacing: 1px;
              font-family: @montserrat;
            }
            hr {
              border: 0;
              height: 1px;
              background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
            }
          }
          a {
            display: inline-block;
            padding: 5px 10px;
            letter-spacing: 1px;
            margin: 0 5px 10px 0;
            background-color: @lightSun;
            color: @deepSun;
            border: 1px solid @deepSun;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            font-family: @lato;
          }
        }
        .dragDestination{
          text-align: center;
          margin-top: 20px;
          span{
            border: 3px dashed @deepSun;
            padding: 20px 178px;
            color: @deepSun;
            background-color: @lightSun;
            font-family: @montserrat;
            display: inline-block;
            text-transform: capitalize;
          }
        }
      }

    }
    .formButtons{
      float: right;
      margin: 15px;
    }
    button {
      border: none;
      cursor: pointer;
    }
    .save {
      box-shadow: white;
      margin-right: 15px;
      border-radius: 25px;
      font-family: @montserrat;
      color: @white;
      font-size: 19px;
      background: #c3f37f;
      padding: 12px 25px 12px 25px;
      text-transform: uppercase;
      &:hover {
       .hoverButton;
      }
    }
  }
}

.contact {
  h2 {
    .h2;
  }
  form {
    input, .yourMessages {
      .p;
    }

    .submit {
      &:hover {
        .hoverButton;
      }
    }
  }
}

.keep {
  p, input {
    .p;
  }
}

.half {
  width: 50%;
  float: left;
}