* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.innerWrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.clearFix {
    float: none;
    clear: both;
}

.top {
    background-color: #9bddd8;
    background-image: url("../images/top_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding-top: 238px;
}

.top, .cityOfLove {
    height: 740px;
}

.top h1 {
    color: #ffffff;
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}

.top h1 span {
    color: #01a2a6;
}

.top p {
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.top a {
    border-radius: 24px;
    color: #10273d;
    background-color: #ffffa6;
    padding: 14px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    font-family: 'Lato', sans-serif;
    width: 250px;
    margin: 30px auto;
    letter-spacing: 1px;
}

header {
    height: 120px;
    width: 100%;
    position: fixed;
    display: block;
    padding-top: 50px;
    z-index: 10;
    editor / #000000 +83, 000000 +100 & 0.65 +0, 0 +98 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.1) 83%, rgba(0, 0, 0, 0) 98%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
}

header .logo {
    width: 150px;
    /*padding-top: 35px;*/
}

header ul.navigation {
    list-style: none;
    float: right;
    padding-top: 15px;
}

header ul.navigation li {
    float: left;
    margin-left: 12px;
}

header ul.navigation li a {
    color: #ffffff;
    letter-spacing: 1px;
    padding: 5px 12px;
    border: 2px solid transparent;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
}

header ul.navigation li a:hover {
    border: 2px solid #ffffff;
    border-radius: 15px;
}

.cityOfLove .row .half {
    padding-top: 30px;
    text-align: center;
}

.half {
    width: 50%;
    float: left;
}

.cityOfLove .firstLine .innerWrapper {
    margin-top: -40px;
    opacity: 0.6;
    background-color: #fff;
    /*overflow: hidden;*/
}

.cityOfLove .row.firstLine {
    padding-bottom: 50px;
}

.cityOfLove .firstLine img {
    padding-top: 50px;
}

.cityOfLove .firstLine h2,
.secondLine h2,
.infoContainet .setIttinery h2,
.contact h2 {
    color: #29d9c2;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    margin: 60px 0 40px;
}

.cityOfLove .firstLine h2 span,
.secondLine h2 span,
.infoContainet .setIttinery h2 span {
    color: #01a1a6;
}

.cityOfLove .firstLine p,
.secondLine p,
.secondLine span.details,
.slider .sliderNavigation input,
.slider .batu .rightBatuInfo p,
.slider .bromo .lefrBromoInfo p,
.infoContainet .setIttinery p,
.contact form input,
.contact form .yourMessages,
.keep p,
.keep input {
    font-size: 16px;
    color: #777;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
}

.cityOfLove .row.secondLine {
    background-color: #f2fefe;
    padding-top: 40px;
    padding-bottom: 100px;
}

.secondLine .innerWrapper {
    position: relative;
    padding: 0 100px;
}

.secondLine span.details {
    display: block;
    position: absolute;
    right: 100px;
    top: 0;
    cursor: help;
}

.slider {
    background-color: #f2fefe;
}

.slider .sliderNavigation {
    padding: 5px 100px;
}

.slider .sliderNavigation input {
    padding: 5px 5px 5px 40px;
    width: 235px;
    height: 35px;
    border-radius: 17px;
    border: 1px solid #e8e8e8;
    background-image: url("https://previewsworld.com/Content/images/icons/icon-search.png");
    background-repeat: no-repeat;
    background-position: 15px 9px;
}

.slider .sliderNavigation a {
    color: #777;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.slider .sliderNavigation a.active {
    font-weight: 700;
    color: #01a2a6;
    cursor: default;
}

.slider .sliderNavigation .separator {
    padding: 0 5px;
    font-weight: 900;
}

.slider .batu {
    background-image: url('../images/parachute.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-bottom: 35px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    height: 517px;
}

.slider .batu .rightBatuInfo {
    width: 40%;
    padding: 100px 55px;
    position: absolute;
    background-color: rgba(229, 231, 232, 0.9);
    left: 100%;
    top: 0;
    bottom: 0;
    transition: all ease-out 0.4s;
}

.slider .batu:hover .rightBatuInfo {
    left: 60%;
}

.slider .batu .rightBatuInfo h2,
.slider .bromo .lefrBromoInfo h2 {
    color: #29d9c2;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 300;
    text-align: left;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent rgba(229, 231, 232, 0.9) transparent transparent;
    position: absolute;
    left: 100%;
    top: calc(50% - 8px);
    transition: all ease-out 0.4s;
}

.seeMore {
    display: block;
    position: absolute;
}

.slider .batu .seeMore,
.slider .bromoRow .bromo .seeMore,
.slider .bromoRow .palm .seeMore {
    right: 30px;
    bottom: 20px;
    transition: all ease-out 0.4s;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
    padding-right: 20px;
}

.slider .batu:hover .seeMore {
    right: calc(40% + 30px);
}

.slider .batu:hover .triangle {
    left: calc(60% - 12px);
}

.slider .bromoRow {
    width: 100%;
    margin-bottom: 75px;
    overflow: hidden;
}

.slider .bromoRow .bromo {
    width: 57%;
    background-image: url("../images/tree.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    float: left;
    overflow: hidden;
    height: 361px;
    position: relative;
}

.slider .bromoRow .bromo .lefrBromoInfo {
    float: left;
    width: 50%;
    padding: 57px 30px;
    position: absolute;
    background-color: rgba(229, 231, 232, 0.9);
    right: 100%;
    top: 0;
    bottom: 0;
    transition: all ease-out 0.4s;
}

.slider .bromoRow .bromo:hover .lefrBromoInfo {
    right: 50%;
}

.triangleBromo {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent rgba(229, 231, 232, 0.9);
    position: absolute;
    right: 100%;
    top: calc(50% - 8px);
    transition: all ease-out 0.4s;
}

.slider .bromoRow .bromo:hover .triangleBromo {
    right: calc(50% - 12px);
}

.slider .bromoRow .palm {
    width: 40%;
    background-image: url("../images/image3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    float: left;
    margin-left: 3%;
    height: 361px;
    position: relative;
    overflow: hidden;
}

.slider .bromoRow .palm:hover .shadow {
    background-color: rgba(43, 43, 43, 0.6);
    width: 100%;
    height: 100%;
    transition: all ease-in 0.6s;
}

.slider .bromoRow .palm .shadow .hoverPalm {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    opacity: 0;
}

.slider .bromoRow .palm:hover .shadow .hoverPalm {
    opacity: 1;
    transition: all ease-in-out 0.5s;
}

.slider .bromoRow .palm .shadow .hoverPalm img {
    display: block;
    opacity: 0;
}

.slider .bromoRow .palm:hover .shadow .hoverPalm img {
    opacity: 1;
    display: block;
    width: 70%;
    margin: 10px auto;
}

.infoContainet {
    background-color: #fff;
}

.infoContainet .innerWrapper {
    padding: 60px 0 80px;
}

.infoContainet .setIttinery {
    text-align: center;
    padding-bottom: 70px;
}

.infoContainet .colored .formHeader {
    height: 70px;
    background-image: url('../images/formImg.png');
}

.infoContainet .colored .formHeader h4 {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
}

.infoContainet .colored .formBody {
    background-color: #ffffa6;
    padding: 15px 25px;
}
.infoContainet .colored .formBody .day {
    margin-bottom: 20px;
}
.infoContainet .colored .formBody .day #day {
    font-family: 'Montserrat', sans-serif;
    color: #29d9c2;
}
.infoContainet .colored .formBody .day input[type=date] {
    background-color: #ffffa6;
    border: none;
    float: right;
    font-family: 'Montserrat', sans-serif;
    color: #29d9c2;
    font-size: 16px;
    letter-spacing: 1px;
    width: 160px;
    padding-bottom: 15px;

}

.infoContainet .colored .formBody .day .line {
    text-align: right;
}

.infoContainet .colored .formBody .day .line input[type="text"] {
    width: 100%;
    padding: 15px 62px;
    border: 1px solid #e8e8e8;
    text-align: left;
    border-radius: 5px;
    font-size: 18px;
    color: #626262;

}
.infoContainet .colored .formBody .day .line .mtBromo {
    background-image: url("../images/logoBromo.png");
    background-repeat: no-repeat;
    background-position: 11px 12px;
    background-size: 39px;
    font-family: 'Montserrat', sans-serif;

}
.infoContainet .colored .formBody .day .line .batuCity {
    background-image: url("../images/logoBatu.png");
    background-repeat: no-repeat;
    background-position: 11px 8px;
    background-size: 30px;
    font-family: 'Montserrat', sans-serif;

}

.infoContainet .colored .formBody .day .line ul {
    background-color: #f5e99e;
    text-align: left;
    list-style-type: none;
    margin: 0 5px;
}
.infoContainet .colored .formBody .day .line ul li {
    padding: 15px;
    color: #aea25c;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;

}
.infoContainet .colored .formBody .day .line ul hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.infoContainet .colored .formBody .day .dragDestination{
    text-align: center;
    margin-top: 20px;
}
.infoContainet .colored .formBody .day .dragDestination span{
    border: 3px dashed #D7CA7C;
    padding: 20px 178px;
    color: #D7CA7C;
    background-color: #F5E99D;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: capitalize;
}
.infoContainet .colored .formBody .day .line a {
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 5px 10px 0;
    background-color: #F5E99D;
    color: #D7CA7C;
    border: 1px solid #D7CA7C;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Lato', sans-serif;
}
.infoContainet .colored .formButtons{
    float: right;
    margin: 15px;
}

.infoContainet .colored button {
    border: none;
    cursor: pointer;
}

.infoContainet .colored .save {
    box-shadow: white;
    margin-right: 15px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 19px;
    background: #c3f37f;
    padding: 12px 25px 12px 25px;
    text-transform: uppercase;
}

.infoContainet .colored .save:hover, .contact form .submit:hover {
    background-color: #a4ef3a;
    cursor: pointer;
}

.infoContainet .colored .print {
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 19px;
    background: #29d9c2;
    padding: 12px 25px 12px 25px;
    text-transform: uppercase;
}

.infoContainet .colored .print:hover, .keep .keepSubmit:hover {
    background-color: #34b3a3;
    cursor: pointer;
}

.infoContainet .half h4 {
    text-align: center;
    color: #29d9c2;
    padding: 20px 20px;
}

.contact {
    width: 100%;
    padding-bottom: 105px;
    background-image: url('http://mapsys.info/wp-content/uploads/2010/08/NY-Google-Maps-17-40-quality-preview.jpg');
    position: relative;
    min-height: 670px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact .or {
    color: #ffffff;
    position: absolute;

}

.contact .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 180, 181, 0.7);
}

.contact h2 {
    color: #fff;
    text-align: center;
    padding: 50px 0 40px;
}

.contact form {
    width: 100%;
    padding: 20px 0 40px;
}

.contact form input,
.contact form .yourMessages {
    height: 55px;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    margin: 10px 0;
    padding: 5px 15px;
}


.contact form .email {
    width: 100%;
}

.contact form .company {
    width: 49%;
    float: left;
}

.contact form .subject {
    width: 49%;
    float: right;
}

.contact form .yourMessages {
    width: 100%;
    height: 100px;
    resize: none;
}

.contact form .submit {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    float: right;
    border-radius: 27px;
    background-color: #B4EC84;
    border: none;
    padding: 0 20px;
    letter-spacing: 1px;
}

.contact .overlay span {
    position: absolute;
    bottom: 246px;
    right: 551px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.contact .usHere {
    padding: 40px 60px;
    width: 80%;
    float: right;
}

.contact .usHere h3 {
    font-weight: 100;
    font-size: 36px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin-bottom: 60px;
}

.contact .usHere p {
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
    padding-left: 4px;
}

.contact .usHere p i {
    padding-right: 8px;
}

.contact .usHere p a {
    text-transform: uppercase;
    font-style: italic;
    color: #F6EE6E;
    padding-left: 20px;
    padding-top: 5px;
    display: inline-block;
}

.keep {
    background: rgb(189, 242, 113); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(189, 242, 113, 1) 0%, rgba(189, 242, 113, 1) 50%, rgba(177, 229, 103, 1) 51%, rgba(177, 229, 103, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(189, 242, 113, 1) 0%, rgba(189, 242, 113, 1) 50%, rgba(177, 229, 103, 1) 51%, rgba(177, 229, 103, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(189, 242, 113, 1) 0%, rgba(189, 242, 113, 1) 50%, rgba(177, 229, 103, 1) 51%, rgba(177, 229, 103, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdf271', endColorstr='#b1e567', GradientType=1);
    padding-bottom: 60px;
    position: relative;
    padding-top: 35px;
}

.keep h2 {
    color: #fff;
    font-size: 76px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 5px;
    margin-top: 15px;
}

.keep p {
    color: #fff;
    padding-left: 10px;
}

.keep input {
    position: relative;
    margin: 25px 0;
    padding: 0 0 0 20px;
    height: 72px;

}

.keep .keepEmail {
    width: 80%;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.keep .keepSubmit {
    position: absolute;
    width: 72px;
    border-radius: 6px;
    border: 1px solid #e8e8e8;
    background-image: url("../images/forward.png");
    border-top-left-radius: 0;
}
footer {
    position: relative;
    background-color: #2f2933;
    background-image: url("../images/footerBg.png");
    width: 100%;
    padding: 20px;
}
footer .left a {
    color: #5a595a;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
footer .right {
    float: right;
    padding: 7px;
}
footer .links i {
    color: #5a595a;
    font-size: 8px;
    padding: 5px;
}
footer p {
    margin-top: 120px;
    color: #afafaf;
    margin-bottom: 15px;
    text-align: center;
}

.listDestination {
    width: 80%;
    margin: 0 auto;
}

.listDestination .itemDestination {
    display: block;
    border: 1px solid grey;
    padding: 5px;
    margin-bottom: 10px;
}

.listDestination .itemDestination h4 {
    text-align: left;
    float: left;
    padding: 10px;
}

.listDestination .itemDestination p {

}

.listDestination .itemDestination img {
    float: right;
    width: 45px;
    margin: 10px 10px 0 0;
}

.contact .half.reverse {
    float: right;
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {
    .innerWrapper, .cityOfLove .firstLine .innerWrapper, .secondLine .innerWrapper {
        max-width: 960px;
    }

    .slider .sliderNavigation {
        padding: 5px 10%;
    }
}

@media screen and (max-width: 768px) {
    .cityOfLove .firstLine img {
        width: 90%;
        padding-top: 60px;
    }
    .cityOfLove {
        height: auto;
    }

    .cityOfLove .row .half.left {
        padding: 30px 5%;
    }

    .sliderNavigation .half:not(.right) {
        margin-bottom: 30px;
    }

    .seeMore, .triangle, .triangleBromo, .contact span {
        display: none;
    }

    .sliderNavigation .half.right {
        text-align: left!important;
    }

    .sliderNavigation .half {
        width: 100%;
    }

    .slider .batu .rightBatuInfo, .slider .batu:hover .rightBatuInfo {
        left: 0;
        width: 100%;
    }

    .slider .bromoRow .bromo .lefrBromoInfo, .slider .bromoRow .bromo:hover .lefrBromoInfo {
        width: 100%;
        right: 0;
    }

   .infoContainet .half.colored {
        min-width: 480px;
        margin: 0 auto;
        float: none;
   }

   .infoContainet .half:not(.colored) {
        width: 100%;
        float: none;
        margin: 100px auto 0;
   }

    .infoContainet .colored .formBody .day .dragDestination span {
        width: 100%;
        padding: 20px;
    }

    .contact .half.reverse {
        float: none;
        min-width: 480px;
        margin: 0 auto;
    }

    .contact .half:not(.reverse) {
        float: none;
        min-width: 480px;
        margin: 0 auto;
    }

    .contact .usHere {
        padding: 40px;
        width: 100%;
        text-align: center;
    }

    .contact .usHere p a {
        padding-left: 0;
    }
}

@media screen and (max-width: 480px) {

}

